@font-face {
    font-family: "Haas Light";
    src: url("../fonts/haas-light.otf");
}
@font-face {
    font-family: "Haas Regular";
    src: url("../fonts/haas-regular.otf");
}
@font-face {
    font-family: "Haas Bold";
    src: url("../fonts/haas-bold.otf");
}
@font-face {
    font-family: "Haas Medium";
    src: url("../fonts/haas-medium.otf");
}
@font-face {
    font-family: "Haas Black";
    src: url("../fonts/haas-black.otf");
}

a {
    text-decoration: none;
    color: unset;
}
body {
    font-family: "Haas Regular";
}
h1 {
    font-size: 36px;
    margin: auto 0;
}
p {
    font-size: 18px;
    line-height: 30px;
}
.container {
    width: 30%;
    margin: auto;
}
.top-nav {
    display: grid;
    grid-template-columns: 75% 25%;
}
.top-nav .pfp {
    width: 50px;
    margin: auto;
    margin-right: 0;
    border-radius: 100px;
}
.content {
    padding-top: 15px;
}
.event {
    padding: 30px 15px;
    border-radius: 10px;
    margin: 10px 0;
}
.event:hover p {
    opacity: 0.75;
}
#event-1 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/event-1.jpg");
    background-size: cover;
    background-position: center;
}
#event-2 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/event-2.jpg");
    background-size: cover;
    background-position: center;
}
.event-row {
    display: grid;
    grid-template-columns: 80% 20%;
}
.event .event-title {
    font-family: "Haas Medium";
    color: white;
    font-size: 24px;
    margin: 0 !important;
    letter-spacing: 1px;
}
.event .event-details {
    font-family: "Haas Light";
    color: white;
    margin: 0;
    font-size: 15px;
    letter-spacing: 3px;
    opacity: 0.6;
    backdrop-filter: blur(15px);

}
.event-host {
    margin: auto;
    margin-right: 0;
}
.event-host-img {
    width: 50px;
    border-radius: 100px;
}
.event-ongoing {
    border-left: 5px solid #FF9100;
}
.event-ongoing .event-details {
    color: #FF9100;
}
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }
    .main {
        padding: 20px 0;
    }
}
.mw-500 {
    max-width: 500px;
}
.haas-rg {
    font-family: "Haas Regular";
}
.haas-bk {
    font-family: "Haas Black";
}
.page-indicator {
    font-size: 24px;
    color: #070604;
}
.btn {
    display: inline-block;
    text-align: center;
    padding: 0.75rem 2rem;
    letter-spacing: 1px;
    border-radius: 5px;
    backdrop-filter: blur(15px);
    color: white;
    transition: background 0.15s ease-in-out;
    font-family: "Haas Medium";
}
@media screen and (max-width: 580px) {
    .btn {
        display: block;
    }
}
.btn-primary {
    background: rgba(39, 221, 160, 0.25);
}
.btn-primary:hover {
    background: rgba(39, 221, 160, 0.5);
}
.btn-secondary {
    background: rgba(0, 0, 0, 0.25);
}
.btn-secondary:hover {
    background: rgba(0, 0, 0, 0.5);
}


.text-opaque {
    opacity: 0.5;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color: white;
}
.modal.profile {
    display: block;
}  
  /* Modal Content/Box */
  .modal-content {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../img/event-1.jpg");
    background-size: cover;
    background-position: center;
    margin: auto; /* 15% from the top and centered */
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px 10px 0 0;
    width: 30%; /* Could be more or less, depending on screen size */
  }
  @media screen and (max-width: 768px) {
      .modal-content {
          width: 95%;
      }
  }
@media screen and (max-width: 560px) {
    .modal-content {
        width: 80%;
    }
}
@media screen and (max-width: 560px) {
    .modal-content {
        width: 84%;
    }
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal .event-title {
    font-family: "Haas Black";
    color: white;
    font-size: 56px;
    text-transform: uppercase;
    margin: 0 !important;
    letter-spacing: 1px;
}
.modal hr {
    opacity: 0.5;
}
.modal .event-type {
    margin-top: 0;
    opacity: 0.5;
    font-family: "Haas Light";
    letter-spacing: 2px;
    backdrop-filter: blur(15px);
    font-style: oblique;
}
.modal .event-text {
    margin-top: 50px;
    font-family: "Haas Regular";
}
.modal .event-detail-row {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: 10% 90%;
}
.modal .event-detail-row:last-of-type {
    margin-bottom: 50px;
}
.modal .event-detail-icon {
    margin: auto;
    border: 2px solid white;
    min-width: 32px;
    color: white;
    text-align: center;
}
.modal .event-detail {
    letter-spacing: 1px;
    margin: 0;
}
.modal-body > .event-detail:last-of-type {
    margin-bottom: 50px;
}
.modal .event-details .event-detail:first-of-type {
    font-family: "Haas Bold";
    color: white;
    opacity: 1.0;
    margin-bottom: -10px;
    text-transform: uppercase;
}
.modal .event-details .event-detail:last-of-type {
    opacity: 0.6;
}
.modal .author-row {
    display: grid;
    grid-template-columns: 75% 25%;
}
.author-row p {
    opacity: 0.5;
    backdrop-filter: blur(15px);
    margin-bottom: 0;
}
.author-row .event-host-img {
    margin: auto;
    margin-right: 0;
}
.modal .button-row {
    display: grid;
    grid-template-columns: 25% 75%;
}
@media screen and (max-width: 1200px) {
    .modal .button-row {
        grid-template-columns: 25% 75%;
    }
}
.modal .button-row a:first-of-type {
    margin-right: 15px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(240, 240, 240);
    color: gray;
    padding: 10px 0;
    text-align: center;
}
.footer a:hover {
    color: rgb(88, 88, 88);
}
.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}