@font-face {
    font-family: "Haas Regular";
    src: url("../fonts/haas-regular.otf");
}
@font-face {
    font-family: "Haas Black";
    src: url("../fonts/haas-black.otf");
}

a {
    text-decoration: none;
}
body {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
    font-family: "Haas Regular";
}
h1 {
    font-size: 36px;
    margin-bottom: 0;
}
p {
    line-height: 27px;
}
.container {
    width: 80%;
    margin: auto;
}
.main {
    padding: 200px 0;
}
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }
    .main {
        padding: 20px 0;
    }
}
.mw-500 {
    max-width: 500px;
}
.haas-rg {
    font-family: "Haas Regular";
}
.haas-bk {
    font-family: "Haas Black";
}
.btn-primary {
    background: rgb(39, 81, 221);
    color: white;
    display: inline-block;
    padding: 0.5rem 2rem;
    letter-spacing: 1px;
}
.btn-primary:hover {
    background: rgb(27, 57, 156);
}
.text-opaque {
    opacity: 0.5;
}