body {
    margin: 0;
    font-family: "Haas Regular";
}

a {
    color: unset;
    text-decoration: none;
}

::-webkit-scrollbar {
width: 10px;
}
::-webkit-scrollbar-track {
background: rgba(230, 230, 230, 1);
}
::-webkit-scrollbar-thumb {
background: rgba(200, 200, 200, 0.75);
}
::-webkit-scrollbar-thumb:hover {
background: rgba(180, 180, 180, 1);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main-title {
    font-size: 60px;
    font-family: 'Nanum Myeongjo';
    font-weight: 800;
    word-break: break-word;
    width: 70%;
}
.section-link {
    font-family: 'Nanum Myeongjo';
    font-size: 45px;
    font-weight: 800;
}

section {
    padding: 100px 0;
}

.main-section {
    background-image: url("../img/logo.png");
    padding: 100px 0;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

a.link {
    color: black;
    text-decoration: none;
    background-color: #00EDBF;
    padding: 5px 10px;
    transition: 0.15s;
}
a.link:hover {
    background-color: #00bb96;
}
a.link.secondary {
    border: 1px solid black;
    color: black;
    background: transparent;
}
a.link.secondary:hover {
    background: black;
    color: white;
}
a.text.link {
    background: none;
    display: block;
    color: white;
    padding-left: 0;
}
a.text.link.active {
    opacity: 1;
}

p {
    line-height: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.topnav {
    overflow: hidden;
    padding: 0 100px;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(13px);
    z-index: 999;
    border-bottom: 1px solid rgba(250, 250, 250, 0.33);
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: black;
    font-family: "Haas Light";
    transition: color 0.15s;
}
.topnav a:hover {
    color: rgba(0, 0, 0, 0.66);
}
.topnav .active {
    border-bottom: 1px solid black;
}
.topnav .icon {
    display: none;
}
.topnav .icon {
    display: none;
}

.fullwidth {
    width: 100% !important;
}

.img-section-fullwidth {
    width: 90%;
}

#trusted-clients {
    background: rgb(240, 240, 240);
}
#trusted-clients p {
    letter-spacing: 3px;
}
.text-center {
    text-align: center;
}

.float-right {
    float: right;
}

#contact {
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 50%), url("../img/portfolio.png");
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.email {
    font-size: 45px;
    border: 1px solid black;
    font-family: 'Nanum Myeongjo';
    padding: 30px;
    backdrop-filter: blur(15px);
    transform: scale(0.9);
    transition: all 0.15s;
}
.email:hover {
    transform: scale(1);
    background: white;
}

hr.small {
    border-color: transparent;
    border-bottom: 1px solid black;
    width: 50px;
    margin-right: auto;
    margin-left: 0;
    padding-top: 10px;
}

footer {
    background: black;
    color: white;
    padding: 100px 0;
}
footer .brand {
    letter-spacing: 3px;
}
footer .text {
    opacity: 0.6;
}
footer .text.icon {
    margin-right: 10px;
}
footer a {
    transition: opacity 0.15s;
}
footer a:hover {
    opacity: 1;
}

.card .grid img {
    transform: scale(0.9);
    transition: transform 0.15s;
}

.card .grid:hover img {
    transform: scale(1);
}

.banner {
    padding: 390px 0;
}
.main {
    padding-top: 90px;
}
.banner.projects {
    background: url("../img/1-full.png");
    background-size: cover;
    background-position: center;
}
.banner.resume {
    background: url("../img/2-full.png");
    background-size: cover;
    background-position: center;
}
.banner.about {
    background: url("../img/3-full.png");
    background-size: cover;
    background-position: center;
}
.banner.services {
    background: url("../img/4-full.png");
    background-size: cover;
    background-position: top;
}

.page-title-card {
    background: white;
    color: black;
    padding: 50px 100px;
    margin-top: -200px;
}
.page-title-card h1 {
    margin: 0;
}

p.content {
    font-size: 25px;
    font-family: "Haas Light";
    line-height: 41.5px;
    padding: 0 100px;
    letter-spacing: 1px;
}

div.spacer {
    padding: 50px;
}

.desktop-only-inline {
    display: inline-block;
}

.mobile-only {
    display: none;
}

.logo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px 0;
}
.logo-grid > div {
    margin: auto;
}
.logo-grid img {
    width: 100px;
}
.logo-grid img.funboy {
    width: 150px;
}

ul {
    list-style-type: square;
    padding: 0 120px;
}
li {
    font-family: "Haas Light";
    font-size: 25px;
    line-height: 41.5px;
	letter-spacing: 1px;
}

span.tag {
    padding: 7px;
    border: 1px solid grey;
    border-radius: 10px;
    line-height: 15px;
    display: inline-block;
    margin-bottom: 7px;
}

#trusted-clients.resume-page {
    margin-top: 100px;
}

.tags-list {
    width: 50%;
    margin: 0 auto;
}

#content-header {
    text-align: center;
    /* For longer titles, align: left */
}
.text-grid-left {
    width: 90%;
}
.break-word {
    word-wrap: break-word;
}

hr.thin {
    margin: 100px auto;
    border-color: transparent;
    border-top-color: rgba(0, 0, 0, 0.33);
    max-width: 200px;
}

.grid.repos {
    column-gap: 15px;
    row-gap: 15px;
}

.repo {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
    transition: border-color 0.15s;
}
.repo.java:hover {
    border-color: #b07219;
}
.repo.php:hover {
    border-color: #4F5D95;
}

.repo p {
    padding: 0 !important;
    margin: 0;
}
.repo p.content i {
    vertical-align: unset;
}

.repo i {
    vertical-align: middle;
}

.text-muted {
    color: grey;
}

.repo > .content > i {
    opacity: 0;
    transition: 0.15s;
    transform: translateX(-15px);
}
.repo:hover > .content > i {
    color: grey;
    opacity: 1;
    transform: translateX(0);
}

.marble-bg {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url('../img/marble.jpg');
}

.grid.pricing {
    column-gap: 15px;
    row-gap: 15px;
}

.pricing-option {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 50px;
}
.pricing-option.primary {
    border-color: #00EDBF;
}
.pricing-option p {
    padding: 0 !important;
    margin: 0;
}
.pricing-option .title {
    font-family: 'Nanum Myeongjo';
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 32px;
}
.pricing-option ul {
    padding: 0 30px !important;
    list-style-type: none;
}
.pricing-option li {
    font-size: 16px;
}
.pricing-option i {
    margin-bottom: 10px;
}

.btn {
    border-radius: 5px;
    background: grey;
    color: white;
    font-family: 'Haas Regular';
    display: block;
    padding: 15px 100px;
    transition: 0.15s;
}
button.btn {
    border: none;
    text-align: center;
    margin: auto;
    font-size: 16px;
}
.btn:hover {
    background: rgb(83, 83, 83);
}
.btn-primary {
    background: #00EDBF;
    color: black;
}
.btn-primary:hover {
    background: #00bb96;
}
.btn-secondary {
    border: 1px solid grey;
    background: white;
    color: grey;
}
.btn-secondary:hover {
    color: white;
}
.btn-gold {
    background: #c2a26a;
}
.btn-gold:hover {
    background: #927a4f;
}

#contact-form {
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1)), url("../img/portfolio.png");
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    transform: 0.15s;
}
input, #contact-form .email, textarea {
    font-size: 30px;
    border: 1px solid black;
    font-family: 'Nanum Myeongjo';
    padding: 20px;
    backdrop-filter: blur(15px);
    transition: all 0.15s;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}
textarea {
    resize: none;
    height: 170px;
}
input:focus, textarea:focus {
    outline: 2px solid #c2a26a !important;
}
#contact-form .email {
    transform: scale(1);
}
#contact-form .grid {
    column-gap: 15px;
    row-gap: 15px;
}
#contactform {
    padding: 50px 0;
}
.bigspacer {
    padding: 75px;
}

@media screen and (min-width: 1700px) {
    .container {
        width: 60%;
    }
}
@media screen and (max-width: 900px) {
    .logo-grid {
        grid-template-columns: 1fr 1fr;
    }
    .logo-grid > div {
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 2;
    }
    .grid-three {
        grid-template-columns: 1fr;
    }
    footer .grid-three {
        text-align: center;
    }
    footer .grid-three div {
        margin-bottom: 30px;
    }
    .img-section-fullwidth {
        width: 100%;
    }
    .card-image {
        grid-row-end: 1;
    }
    .container {
        width: 90%;
    }
    .page-title-card {
        padding: 50px;
    }
    .desktop-only-inline {
        display: none;
    }
    .mobile-only {
        display: block;
    }
    p.content {
        padding: 0 50px;
    }
    ul {
        padding: 0 70px;
    }
    .banner {
        padding: 340px 0;
    }
    #content-header {
        text-align: center;
    }
    .text-grid-left {
        width: 100%;
    }
    .marble-bg {
        background: linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1)), url('../img/marble.jpg');
    }
}

@media screen and (max-width: 600px) {
    .topnav {
        padding: 0;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
        padding: 24px 16px;
    }
    .topnav .active {
        border-bottom: none;
        border-left: 4px solid black;
        border-right: 4px solid black;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
    .topnav.responsive a.brand {
        text-align: left;
    }
    .topnav {
        background: white;
        border-bottom-color: rgb(230, 230, 230);
    }
}

@media screen and (max-width: 512px) {
    .section-link, .email, .main-title {
        font-size: 35px;
    }
    p.content {
        font-size: 22px;
        padding: 0 20px;
    }
    .page-title-card {
        padding: 30px;
        margin-top: 0;
    }
    .logo-grid {
        grid-template-columns: 1fr;
    }
    .main-title {
        width: 90%;
    }
    ul {
        padding: 0 35px;
    }
    li {
        font-size: 22px;
    }
    .banner {
        padding: 275px 0;
    }
}

@keyframes content_reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body, html {
    animation: content_reveal 0.8s ease;
}
html {
    scroll-behavior: smooth;
}