@font-face {
    font-family: "Haas Regular";
    src: url("../fonts/haas-regular.otf");
}
@font-face {
    font-family: "Haas Black";
    src: url("../fonts/haas-black.otf");
}

a {
    text-decoration: none;
}
body {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    color: white;
    font-family: "Haas Regular";
}
h1 {
    font-size: 36px;
}
p {
    line-height: 27px;
}
.main {
    margin: 200px;
    padding-left: 30px;
    border-left: 4px solid white;
}
.mw-500 {
    max-width: 500px;
}
.haas-rg {
    font-family: "Haas Regular";
}
.haas-bk {
    font-family: "Haas Black";
}
.btn-primary {
    background: rgb(39, 81, 221);
    color: white;
    display: inline-block;
    padding: 0.5rem 2rem;
    letter-spacing: 1px;
}
.btn-primary:hover {
    background: rgb(27, 57, 156);
}