html, body {
    margin: 0;
    padding: 0;
}
.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.col-1 {
    grid-row: unset;
}
.col-2 {
    grid-row: unset;
}
@media screen and (max-width: 768px) {
    .row {
        grid-template-columns: 1fr;
    }
    .col {
        min-height: 300px;
    }
    .col-1 {
        grid-row: 1;
    }
    .col-2 {
        grid-row: 2;
    }
}
.bg-1 {
    background-image: url("bg-1.png");
    background-size: cover;
}

.col {
    padding: 100px;
}
.col p {
    line-height: 26px;
}

.row.inverse .lcol {
    grid-row: 1;
}

.col h1 {
    text-align: center;
}